files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/49_pnpm_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -xe
      # Navigate to the app directory
      cd /var/app/staging/
      # Install dependencies using pnpm
      pnpm install --frozen-lockfile

container_commands:
  01_rewrite_node_start_command:
    command: "echo 'web: pnpm start' > /var/app/current/Procfile"